<a href="https://colab.research.google.com/github/syinann/python20210425/blob/main/%E8%B3%87%E6%96%99%E5%9E%8B%E6%85%8B(data_Type)%E5%8F%8A%E5%85%B6%E9%81%8B%E7%AE%9720210425.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
a = 19 / 3
b = 17 // 3
c = 13 % 3

a,b,c

(6.333333333333333, 5, 1)

In [34]:
x = 2
print(x > 3 and x < 10)

False

In [35]:
x = 2

print(not(x > 3 and x < 10))

True

In [9]:
#Round a number to only two decimals:
x = round(5.76543, 3)
print(x)

5.77
6

In [11]:
# Round to the nearest integer:
y = round(4.76543)
print(y)

5

In [12]:
a = 1.0004
int(a)

b = 0.9999
int(a)

1

In [14]:
var1 = 'Hello Python!'

print("var1[0]: ", var1[1])
print("var1[1:8]: ", var1[1:7]) # Slicing 切片運算

var1[0]:  e
var1[1:8]:  ello P

In [16]:
b = "Hello, World!"
print(b[1:5])
print(b[:5])
print(b[2:])
print(b[-5:-2]) # Negative Indexing

ello
Hello
llo, World!
orl

In [19]:
str1='happy python day'
str2='    Oh!   '

str4=str1 + str2   

print(str4.capitalize())

Happy python day    oh!

In [20]:
list1 = [21, 33, 14, 12, 32, 98]

list1[1]
list1[-2]
list1[1:3]

[33, 14]

In [21]:
list1 = [21, 33, 14, 12, 32, 98]

len(list1)
max(list1)
min(list1)
sum(list1)

210

In [23]:
a = dict(one=1, two=2, three=3)
b = {'one': 1, 'two': 2, 'three': 3}
c = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
d = dict([('two', 2), ('one', 1), ('three', 3)])
e = dict({'three': 3, 'one': 1, 'two': 2})
f = dict({'one': 1, 'three': 3}, two=2)
a == b == c == d == e == f

True

In [30]:
dict = {'Name': 'ann', 'Age': 14, 'Class': '20'}

print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

dict['Name']:  ann
dict['Age']:  14

In [32]:
dict = {'Name': 'ann', 'Age': 14, 'Class': 'First'}
dict.items()

dict_items([('Name', 'ann'), ('Age', 14), ('Class', 'First')])

In [28]:
dict = {'Name': 'ann', 'Age': 14, 'Class': 'First'}
list(dict.items())
dict = {'Name': 'ann', 'Age': 14, 'Class': 'First'}
list(dict.keys())

['Name', 'Age', 'Class']